In [1]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

data = requests.get(url)

json = data.json()

elements_df = pd.DataFrame(json['elements'])
elements_df = elements_df[elements_df.minutes > 0].reset_index()
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [3]:
elements_df

,index,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90
0,0,True,True,NaN,NaN,154561,0,0,1,-1,...,1,104,10,52,4,13,2,1.00,0.50,0.00
1,4,True,True,NaN,NaN,226597,1,-1,2,-2,...,1,5,2,12,4,11,4,1.00,0.50,9.00
2,5,True,True,100.0,100.0,462424,0,0,0,0,...,4,281,99,93,41,32,12,1.13,0.56,9.03
3,6,True,True,NaN,NaN,466075,0,0,2,-2,...,11,144,57,19,9,25,9,1.20,0.60,4.60
4,7,True,True,NaN,NaN,445122,0,0,3,-3,...,8,87,33,14,6,24,8,1.04,0.42,7.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,737,True,True,NaN,NaN,230376,0,0,-3,3,...,144,158,66,272,128,336,113,1.01,0.34,11.12
418,738,True,True,NaN,NaN,497949,-1,1,-1,1,...,143,526,216,243,87,526,191,1.37,0.00,4.12
419,739,True,True,NaN,NaN,523705,0,0,0,0,...,100,253,93,347,127,662,224,0.68,0.00,6.11
420,740,True,True,NaN,NaN,431248,0,0,0,0,...,91,94,35,117,48,609,211,1.00,0.00,5.33
421,741,True,True,NaN,NaN,488213,0,0,0,0,...,38,200,22,284,28,518,71,1.12,0.00,5.59

In [4]:
print(elements_df.columns)

Index(['index', 'can_transact', 'can_select', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'code', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       ...
       'now_cost_rank_type', 'form_rank', 'form_rank_type',
       'points_per_game_rank', 'points_per_game_rank_type', 'selected_rank',
       'selected_rank_type', 'starts_per_90', 'clean_sheets_per_90',
       'defensive_contribution_per_90'],
      dtype='object', length=102)

In [5]:
slim_elements_df = elements_df[['id', 'first_name','second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points', 'points_per_game']].copy()

In [6]:
slim_elements_df

,id,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,points_per_game
0,1,David,Raya Martín,1,1,26.1,56,540,1301289,5.0,28,4.7
1,5,Gabriel,dos Santos Magalhães,1,2,26.4,62,540,1485215,6.1,38,6.3
2,6,William,Saliba,1,2,12.4,60,319,566504,3.2,19,3.8
3,7,Riccardo,Calafiori,1,2,14.5,57,450,1626571,6.3,36,6.0
4,8,Jurriën,Timber,1,2,14.7,58,431,1576150,6.4,37,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...
417,663,Jhon,Arias,20,3,0.2,52,267,7020,2.1,11,1.8
418,682,David,Møller Wolfe,20,2,0.1,44,131,2118,1.4,6,2.0
419,695,Jackson,Tchatchoua,20,2,0.0,45,265,1531,1.1,5,1.0
420,709,Ladislav,Krejcí,20,2,0.0,45,270,3836,2.2,10,3.3
421,720,Tolu,Arokodare,20,4,0.1,55,161,11542,0.9,5,1.7

In [7]:
url = 'https://fantasy.premierleague.com/api/element-summary/8/'

In [8]:
r = requests.get(url)

In [9]:
json = r.json()

In [10]:
json.keys()

dict_keys(['fixtures', 'history', 'history_past'])

In [16]:
json_history_df = pd.DataFrame(json['history'])
json_history_df

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,modified,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,8,9,14,0,False,2025-08-17T15:30:00Z,0,1,1,False,...,0,0.00,0.00,0.00,0.66,55,0,210465,0,0
1,8,11,11,24,True,2025-08-23T16:30:00Z,5,0,2,False,...,1,0.81,0.05,0.86,0.17,55,-23011,219095,14581,37592
2,8,25,12,2,False,2025-08-31T15:30:00Z,1,0,3,False,...,1,0.09,0.05,0.14,0.52,56,449352,828444,509691,60339
3,8,31,16,8,True,2025-09-13T11:30:00Z,3,0,4,False,...,1,0.30,0.02,0.32,0.20,57,310541,1235377,380134,69593
4,8,41,13,1,True,2025-09-21T15:30:00Z,1,1,5,False,...,1,0.00,0.05,0.05,0.65,57,239054,1494975,300378,61324
5,8,58,15,2,False,2025-09-28T15:30:00Z,1,2,6,False,...,1,0.53,0.21,0.74,0.61,58,156869,1679103,250497,93628

In [17]:
print(json_history_df.columns.tolist())

['element', 'fixture', 'opponent_team', 'total_points', 'was_home', 'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'modified', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat', 'ict_index', 'clearances_blocks_interceptions', 'recoveries', 'tackles', 'defensive_contribution', 'starts', 'expected_goals', 'expected_assists', 'expected_goal_involvements', 'expected_goals_conceded', 'value', 'transfers_balance', 'selected', 'transfers_in', 'transfers_out']

In [20]:
week_history_df = json_history_df[['element', 'round', 'total_points', 'defensive_contribution', 'bonus', 'bps']]
week_history_df

   element  round  total_points  defensive_contribution  bonus  bps
0        8      1             0                       3      0   -3
1        8      2            24                       6      3   68
2        8      3             2                       7      0    7
3        8      4             8                       6      2   37
4        8      5             1                       8      0   16
5        8      6             2                       6      0   10

In [12]:
json_history_past_df = pd.DataFrame(json['history_past'])
json_history_past_df

,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,...,ict_index,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded
0,2023/24,445122,50,46,0,70,0,0,0,0,...,1.3,0,0,0,0,1,0.00,0.02,0.02,0.28
1,2024/25,445122,55,55,114,2415,1,3,11,21,...,94.2,0,0,0,125,27,1.23,1.30,2.53,21.09

In [13]:
json_fixtures_df = pd.DataFrame(json['fixtures'])
json_fixtures_df

,id,code,team_h,team_h_score,team_a,team_a_score,event,finished,minutes,provisional_start_time,kickoff_time,event_name,is_home,difficulty
0,61,2561956,1,None,19,None,7,False,0,False,2025-10-04T14:00:00Z,Gameweek 7,True,2
1,74,2561968,10,None,1,None,8,False,0,False,2025-10-18T16:30:00Z,Gameweek 8,False,3
2,81,2561976,1,None,8,None,9,False,0,False,2025-10-26T14:00:00Z,Gameweek 9,True,3
3,92,2561986,3,None,1,None,10,False,0,False,2025-11-01T15:00:00Z,Gameweek 10,False,2
4,108,2562002,17,None,1,None,11,False,0,False,2025-11-08T17:30:00Z,Gameweek 11,False,2
5,111,2562006,1,None,18,None,12,False,0,False,2025-11-23T16:30:00Z,Gameweek 12,True,3
6,123,2562017,7,None,1,None,13,False,0,False,2025-11-30T16:30:00Z,Gameweek 13,False,4
7,131,2562026,1,None,5,None,14,False,0,False,2025-12-03T20:00:00Z,Gameweek 14,True,3
8,141,2562036,2,None,1,None,15,False,0,False,2025-12-06T15:00:00Z,Gameweek 15,False,4
9,151,2562045,1,None,20,None,16,False,0,False,2025-12-13T15:00:00Z,Gameweek 16,True,2
10,164,2562058,9,None,1,None,17,False,0,False,2025-12-20T15:00:00Z,Gameweek 17,False,3
11,171,2562065,1,None,6,None,18,False,0,False,2025-12-27T15:00:00Z,Gameweek 18,True,3
12,181,2562075,1,None,2,None,19,False,0,False,2025-12-30T20:00:00Z,Gameweek 19,True,3
13,192,2562085,4,None,1,None,20,False,0,False,2026-01-03T15:00:00Z,Gameweek 20,False,3
14,201,2562096,1,None,12,None,21,False,0,False,2026-01-07T20:00:00Z,Gameweek 21,True,4
15,217,2562111,16,None,1,None,22,False,0,False,2026-01-17T15:00:00Z,Gameweek 22,False,3
16,221,2562116,1,None,14,None,23,False,0,False,2026-01-24T15:00:00Z,Gameweek 23,True,3
17,234,2562128,11,None,1,None,24,False,0,False,2026-01-31T15:00:00Z,Gameweek 24,False,2
18,241,2562136,1,None,17,None,25,False,0,False,2026-02-07T15:00:00Z,Gameweek 25,True,2
19,252,2562146,5,None,1,None,26,False,0,False,2026-02-11T20:00:00Z,Gameweek 26,False,3
20,269,2562163,18,None,1,None,27,False,0,False,2026-02-21T15:00:00Z,Gameweek 27,False,3
21,271,2562166,1,None,7,None,28,False,0,False,2026-02-28T15:00:00Z,Gameweek 28,True,3
22,283,2562177,6,None,1,None,29,False,0,False,2026-03-04T20:00:00Z,Gameweek 29,False,3
23,291,2562185,1,None,9,None,30,False,0,False,2026-03-14T15:00:00Z,Gameweek 30,True,2
24,310,2562204,20,None,1,None,31,False,0,False,2026-03-21T15:00:00Z,Gameweek 31,False,3
25,311,2562205,1,None,4,None,32,False,0,False,2026-04-11T14:00:00Z,Gameweek 32,True,3
26,327,2562221,13,None,1,None,33,False,0,False,2026-04-18T14:00:00Z,Gameweek 33,False,4
27,331,2562226,1,None,15,None,34,False,0,False,2026-04-25T14:00:00Z,Gameweek 34,True,3
28,341,2562236,1,None,10,None,35,False,0,False,2026-05-02T14:00:00Z,Gameweek 35,True,3
29,360,2562254,19,None,1,None,36,False,0,False,2026-05-09T14:00:00Z,Gameweek 36,False,2
30,361,2562256,1,None,3,None,37,False,0,False,2026-05-17T14:00:00Z,Gameweek 37,True,2
31,373,2562267,8,None,1,None,38,False,0,False,2026-05-24T15:00:00Z,Gameweek 38,False,3